﻿
@model IEnumerable<WebApplication1.Models.User>
@{
    ViewBag.Title = "LoggedIn";
}

<h2>LoggedIn</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
     
        <div class="form-group">

                <h1><strong>Logged In</strong></h1>

            @foreach (var item in Model)
            {
                <h4>People:<strong> Name:</strong> @item.FirstName <strong> Admin</strong> @item.Admin <strong> Username</strong> Id: @item.Username </h4>
            }
            </div>
        </div>
    
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
