﻿@model IEnumerable<WebApplication1.Models.Product>
@{
    ViewBag.Title = "Product";
}

<h2>Product</h2>

@foreach (var item in Model)
{
    <h4>Product Information:<strong> Name:</strong> @item.ProductName <strong> InventoryCount:</strong> @item.AmountofProduct <strong> Produt</strong> Id: @item.ProductId  </h4>
}