﻿@model IEnumerable<WebApplication1.Models.User>
@{
    ViewBag.Title = "People";
}

<h2>People</h2>

@foreach (var item in Model)
{
    <h4>People:<strong> Name:</strong> @item.FirstName <strong> Admin</strong> @item.Admin <strong> Username</strong> Id: @item.Username </h4>
}